In [1]:
# The YUSAG Football Model
    #by Matt Robinson, matthew.robinson@yale.edu, Yale Undergraduate Sports Analytics Group
    
#This notebook introduces the model we at the Yale Undergraduate Sports Analytics Group (YUSAG) use for our college football rankings. This specific notebook details our FBS rankings at the beginning of the 2017 season.

In [2]:
import numpy as np
import pandas as pd
import scipy
import sklearn
import math

Let's start by reading in the NCAA FBS football data from 2013-2016:

In [3]:
df_1 = pd.read_csv('NCAA_FBS_Results_2013_.csv')
df_2 = pd.read_csv('NCAA_FBS_Results_2014_.csv')
df_3 = pd.read_csv('NCAA_FBS_Results_2015_.csv')
df_4 = pd.read_csv('NCAA_FBS_Results_2016_.csv')
df_5 = pd.read_csv('NCAA_FBS_only_Results_2017_.csv')
df_6 = pd.read_csv('NCAA_FBS_only_Results_2018_.csv')

df = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6],ignore_index=True)

In [4]:
df.head()

,year,month,day,team,opponent,location,teamscore,oppscore,OT,D1
0,2013,9,7,Air Force,Utah St.,H,20,52,NaN,2.0
1,2013,9,13,Air Force,Boise St.,V,20,42,NaN,2.0
2,2013,9,21,Air Force,Wyoming,H,23,56,NaN,2.0
3,2013,9,28,Air Force,Nevada,V,42,45,NaN,2.0
4,2013,10,5,Air Force,Navy,V,10,28,NaN,2.0

As you can see, the `OT` column has some `NaN` values that we will replace with 0.

In [5]:
# fill missing data with 0
df = df.fillna(0)

In [6]:
df.head()

,year,month,day,team,opponent,location,teamscore,oppscore,OT,D1
0,2013,9,7,Air Force,Utah St.,H,20,52,0.0,2.0
1,2013,9,13,Air Force,Boise St.,V,20,42,0.0,2.0
2,2013,9,21,Air Force,Wyoming,H,23,56,0.0,2.0
3,2013,9,28,Air Force,Nevada,V,42,45,0.0,2.0
4,2013,10,5,Air Force,Navy,V,10,28,0.0,2.0

I'm also going to make some weights for when we run our linear regression. I have found that using the factorial of the difference between the year and 2012 seems to work decently well. Clearly, the most recent seasons are weighted quite heavily in this scheme.

In [7]:
# update the weights based on a factorial scheme
df['weights'] = (df['year']-2012)
df['weights'] = df['weights'].apply(lambda x: math.factorial(x))

And now, we also are going to make a `scorediff` column that we can use in our linear regression.

In [8]:
df['scorediff'] = (df['teamscore']-df['oppscore'])

In [9]:
df.head()

,year,month,day,team,opponent,location,teamscore,oppscore,OT,D1,weights,scorediff
0,2013,9,7,Air Force,Utah St.,H,20,52,0.0,2.0,1,-32
1,2013,9,13,Air Force,Boise St.,V,20,42,0.0,2.0,1,-22
2,2013,9,21,Air Force,Wyoming,H,23,56,0.0,2.0,1,-33
3,2013,9,28,Air Force,Nevada,V,42,45,0.0,2.0,1,-3
4,2013,10,5,Air Force,Navy,V,10,28,0.0,2.0,1,-18

Since we need numerical values for the linear regression algorithm, I am going to replace the locations with what seem like reasonable numbers:
* Visiting = -1
* Neutral = 0
* Home = 1

The reason we picked these exact numbers will become clearer in a little bit.

In [10]:
df['location'] = df['location'].replace('V',-1)
df['location'] = df['location'].replace('N',0)
df['location'] = df['location'].replace('H',1)

In [11]:
df.head()

,year,month,day,team,opponent,location,teamscore,oppscore,OT,D1,weights,scorediff
0,2013,9,7,Air Force,Utah St.,1,20,52,0.0,2.0,1,-32
1,2013,9,13,Air Force,Boise St.,-1,20,42,0.0,2.0,1,-22
2,2013,9,21,Air Force,Wyoming,1,23,56,0.0,2.0,1,-33
3,2013,9,28,Air Force,Nevada,-1,42,45,0.0,2.0,1,-3
4,2013,10,5,Air Force,Navy,-1,10,28,0.0,2.0,1,-18

The way our linear regression model works is a little tricky to code up in scikit-learn. It's much easier to do in R, but then you don't have a full understanding of what's happening when we make the model.

In simplest terms, our model predicts the score differential (`scorediff`) of each game based on three things: the strength of the `team`, the strength of the `opponent`, and the `location`.

You'll notice that the `team` and `opponent` features are categorical, and thus are not curretnly ripe for use with linear regression. However, we can use what is called 'one hot encoding' in order to transform these features into a usable form. One hot encoding works by taking the `team` feature, for example, and transforming it into many features such as `team_Yale` and `team_Harvard`. This `team_Yale` feature will usally equal zero, except when the team is actually Yale, then `team_Yale` will equal 1. In this way, it's a binary encoding (which is actually very useful for us as we'll see later).

One can use `sklearn.preprocessing.OneHotEncoder` for this task, but I am going to use Pandas instead:

In [12]:
# create dummy variables, need to do this in python b/c does not handle automatically like R
team_dummies = pd.get_dummies(df.team, prefix='team')
opponent_dummies = pd.get_dummies(df.opponent, prefix='opponent')

df = pd.concat([df, team_dummies, opponent_dummies], axis=1)

In [13]:
df.head()

,year,month,day,team,opponent,location,teamscore,oppscore,OT,D1,...,opponent_Virginia,opponent_Virginia Tech,opponent_Wake Forest,opponent_Washington,opponent_Washington St.,opponent_West Virginia,opponent_Western Ky.,opponent_Western Mich.,opponent_Wisconsin,opponent_Wyoming
0,2013,9,7,Air Force,Utah St.,1,20,52,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
1,2013,9,13,Air Force,Boise St.,-1,20,42,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
2,2013,9,21,Air Force,Wyoming,1,23,56,0.0,2.0,...,0,0,0,0,0,0,0,0,0,1
3,2013,9,28,Air Force,Nevada,-1,42,45,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,2013,10,5,Air Force,Navy,-1,10,28,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0

Now let's make our training data, so that we can construct the model. At this point, I am going to use all the avaiable data to train the model, using our predetermined hyperparameters. This way, the model is ready to make predictions for the 2017 season.

In [14]:
# make the training data
X = df.drop(['year','month','day','team','opponent','teamscore','oppscore','D1','OT','weights','scorediff'], axis=1)
y = df['scorediff']
weights = df['weights']

In [15]:
X.head()

,location,team_Air Force,team_Akron,team_Alabama,team_Appalachian St.,team_Arizona,team_Arizona St.,team_Arkansas,team_Arkansas St.,team_Army West Point,...,opponent_Virginia,opponent_Virginia Tech,opponent_Wake Forest,opponent_Washington,opponent_Washington St.,opponent_West Virginia,opponent_Western Ky.,opponent_Western Mich.,opponent_Wisconsin,opponent_Wyoming
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
y.head()

0   -32
1   -22
2   -33
3    -3
4   -18
Name: scorediff, dtype: int64

In [17]:
weights.head()

0    1
1    1
2    1
3    1
4    1
Name: weights, dtype: int64

Now let's train the linear regression model. You'll notice that I'm actually using ridge regression (adds an l2 penalty with alpha = 1.0) because that prevents the model from overfitting and also limits the values of the coefficients to be more interpretable. If I did not add this penalty, the coefficients would be huge.

In [18]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge()
ridge_reg.fit(X, y, sample_weight=weights)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [19]:
# get the R^2 value
r_squared = ridge_reg.score(X, y, sample_weight=weights)
print('R^2 on the training data:')
print(r_squared)

R^2 on the training data:
0.5781386600617484

Now that the model is trained, we can use it to provide our rankings. Note that in this model, a team's ranking is simply defined as its linear regression coefficient, which we call the YUSAG coefficient. 

When predicting a game's score differential on a neutral field, the predicted score differential (`scorediff`) is just the difference in YUSAG coefficients. The reason this works is the binary encoding we did earlier.

#### More details below on how it actually works

Ok, so you may have noticed that every game in our dataframe is actually duplicated, just with the `team` and `opponent` variables switched. This may have seemed like a mistake but it is actually useful for making the model more interpretable. 

When we run the model, we get a coefficient for the `team_Yale` variable, which we call the YUSAG coefficient, and a coefficient for the `opponent_Yale` variable. Since we allow every game to be repeated, these variables end up just being negatives of each other. 

So let's think about what we are doing when we predict the score differential for the Harvard-Penn game with `team` = Harvard and `opponent` = Penn.

In our model, the coefficients are as follows:
- team_Harvard_coef = 7.78
- opponent_Harvard_coef = -7.78
- team_Penn_coef = 6.68
- opponent_Penn_coef = -6.68

when we go to use the model for this game, it looks like this:

`scorediff` = (location_coef $*$ `location`) + (team_Harvard_coef $*$ `team_Harvard`) + (opponent_Harvard_coef $*$ `opponent_Harvard`) + (team_Penn_coef $*$ `team_Penn`) + (opponent_Penn_coef $*$ `opponent_Penn`) + (team_Yale_coef $*$ `team_Yale`) + (opponent_Yale_coef $*$ `opponent_Yale`) + $\cdots$

where the $\cdots$ represent data for many other teams, which will all just equal $0$.

To put numbers in for the variables, the model looks like this:

`scorediff` = (location_coef $*$ $0$) + (team_Harvard_coef $*$ $1$) + (opponent_Harvard_coef $*$ $0$) + (team_Penn_coef $*$ $0$) + (opponent_Penn_coef $*$ $1$) + (team_Yale_coef $*$ $0$) + (opponent_Yale_coef $*$ $0$) + $\cdots$

Which is just:

`scorediff` = (location_coef $*$ $0$) + (7.78 $*$ $1$) + (-6.68 $*$ $1$) = $7.78 - 6.68$ = Harvard_YUSAG_coef - Penn_YUSAG_coef

Thus showing how the difference in YUSAG coefficients is the same as the predicted score differential. Furthermore, the higher YUSAG coefficient a team has, the better they are.

Lastly, if the Harvard-Penn game was to be home at Harvard, we would just add the location_coef:

`scorediff` = (location_coef $*$ $1$) + (team_Harvard_coef $*$ $1$) + (opponent_Penn_coef $*$ $1$) = $1.77 + 7.78 - 6.68$ = Location_coef + Harvard_YUSAG_coef - Penn_YUSAG_coef

In [20]:
# get the coefficients for each feature
coef_data = list(zip(X.columns,ridge_reg.coef_))
coef_df = pd.DataFrame(coef_data,columns=['feature','feature_coef'])
coef_df.head()

                feature  feature_coef
0              location      2.048714
1        team_Air Force     -2.141941
2            team_Akron    -13.497632
3          team_Alabama     38.427109
4  team_Appalachian St.      5.058097

Let's get only the team variables, so that it is a proper ranking

In [21]:
# first get rid of opponent_ variables
team_df = coef_df[~coef_df['feature'].str.contains("opponent")]

# get rid of the location variable
team_df = team_df.iloc[1:]

In [22]:
team_df.head()

                feature  feature_coef
1        team_Air Force     -2.141941
2            team_Akron    -13.497632
3          team_Alabama     38.427109
4  team_Appalachian St.      5.058097
5          team_Arizona     -0.567264

In [23]:
# rank them by coef, not alphabetical order
ranked_team_df = team_df.sort_values(['feature_coef'],ascending=False)
# reset the indices at 0
ranked_team_df = ranked_team_df.reset_index(drop=True);

In [24]:
ranked_team_df.head()

         feature  feature_coef
0   team_Alabama     38.427109
1   team_Clemson     33.201522
2   team_Georgia     28.432785
3  team_Oklahoma     23.757896
4  team_Michigan     23.324601

I'm goint to change the name of the columns and remove the 'team_' part of every string:

In [25]:
ranked_team_df.rename(columns={'feature':'team', 'feature_coef':'YUSAG_coef'}, inplace=True)
ranked_team_df['team'] = ranked_team_df['team'].str.replace('team_', '')

In [26]:
ranked_team_df.head()

       team  YUSAG_coef
0   Alabama   38.427109
1   Clemson   33.201522
2   Georgia   28.432785
3  Oklahoma   23.757896
4  Michigan   23.324601

Lastly, I'm just going to shift the index to start at 1, so that it corresponds to the ranking.

In [27]:
ranked_team_df.index = ranked_team_df.index + 1

In [28]:
ranked_team_df.to_csv("FBS_power_rankings.csv")

## Additional stuff: Testing the model

This section is mostly about how own could test the performance of the model or how one could choose appropriate hyperparamters.

#### Creating a new dataframe

First let's take the original dataframe and sort it by date, so that the order of games in the dataframe matches the order the games were played.

In [65]:
# sort by date and reset the indices to 0
df_dated = df.sort_values(['year', 'month','day'], ascending=[True, True, True])
df_dated = df_dated.reset_index(drop=True)

In [66]:
df_dated.head()

,year,month,day,team,opponent,location,teamscore,oppscore,OT,D1,...,opponent_West Virginia,opponent_Western Caro.,opponent_Western Ill.,opponent_Western Ky.,opponent_Western Mich.,opponent_William & Mary,opponent_Wisconsin,opponent_Wofford,opponent_Wyoming,opponent_Youngstown St.
0,2013,8,29,Akron,UCF,-1,7,38,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
1,2013,8,29,Bowling Green,Tulsa,1,34,7,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
2,2013,8,29,Fresno St.,Rutgers,1,52,51,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,2013,8,29,Hawaii,Southern California,1,13,30,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,2013,8,29,Minnesota,UNLV,1,51,23,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0

Let's first make a dataframe with training data (the first three years of results)

In [67]:
thirteen_df = df_dated.loc[df_dated['year']==2013]
fourteen_df = df_dated.loc[df_dated['year']==2014]
fifteen_df = df_dated.loc[df_dated['year']==2015]

train_df = pd.concat([thirteen_df,fourteen_df,fifteen_df], ignore_index=True)

Now let's make an initial testing dataframe with the data from this past year.

In [68]:
sixteen_df = df_dated.loc[df_dated['year']==2016]
seventeen_df = df_dated.loc[df_dated['year']==2017]

test_df = pd.concat([sixteen_df,seventeen_df], ignore_index=True)

I am now going to set up a testing/validation scheme for the model. It works like this:

First I start off where my training data is all games from 2012-2015. Using the model trained on this data, I then predict games from the first week of the 2016 season and look at the results.

Next, I add that first week's worth of games to the training data, and now I train on all 2012-2015 results plus the first week from 2016. After training the model on this data, I then test on the second week of games. I then add that week's games to the training data and repeat the same procedure week after week.

In this way, I am never testing on a result that I have trained on. Though, it should be noted that I have also used this as a validation scheme, so I have technically done some sloppy 'data snooping' and this is not a great predictor of my generalization error.

In [69]:
def train_test_model(train_df, test_df):

    # make the training data
    X_train = train_df.drop(['year','month','day','team','opponent','teamscore','oppscore','D1','OT','weights','scorediff'], axis=1)
    y_train = train_df['scorediff']
    weights_train = train_df['weights']
    
    # train the model
    ridge_reg = Ridge()
    ridge_reg.fit(X_train, y_train, weights_train)
    fit = ridge_reg.score(X_train,y_train,sample_weight=weights_train)
    print('R^2 on the training data:')
    print(fit)
    
    # get the test data
    X_test = test_df.drop(['year','month','day','team','opponent','teamscore','oppscore','D1','OT','weights','scorediff'], axis=1)
    y_test = test_df['scorediff']
    
    # get the metrics
    compare_data = list(zip(ridge_reg.predict(X_test),y_test))
    
    right_count = 0
    for tpl in compare_data:
        if tpl[0] >= 0 and tpl[1] >=0:
            right_count = right_count + 1
        elif tpl[0] <= 0 and tpl[1] <=0:
            right_count = right_count + 1
    accuracy = right_count/len(compare_data)
    print('accuracy on this weeks games')
    print(right_count/len(compare_data))
    
    total_squared_error = 0.0
    for tpl in compare_data:
        total_squared_error = total_squared_error + (tpl[0]-tpl[1])**2
    RMSE = (total_squared_error / float(len(compare_data)))**(0.5)
    print('RMSE on this weeks games:')
    print(RMSE)
    
    return fit, accuracy, RMSE, right_count, total_squared_error

In [70]:
#Now the code for running the week by week testing.
base_df = train_df
new_indices = []
# this is the hash for the first date
last_date_hash = 2018

fit_list = []
accuracy_list = []
RMSE_list = []
total_squared_error = 0
total_right_count = 0

for index, row in test_df.iterrows():
    
    year = row['year']
    month = row['month']
    day = row['day']
    date_hash = year+month+day 
    
    if date_hash != last_date_hash:
        last_date_hash = date_hash
        test_week = test_df.iloc[new_indices]
        fit, accuracy, RMSE, correct_calls, squared_error = train_test_model(base_df,test_week)
        
        fit_list.append(fit)
        accuracy_list.append(accuracy)
        RMSE_list.append(RMSE)
        
        total_squared_error = total_squared_error + squared_error
        total_right_count = total_right_count + correct_calls
        
        base_df = pd.concat([base_df,test_week],ignore_index=True)
        new_indices = [index]
        
    else:
        new_indices.append(index)

R^2 on the training data:
0.5141154281505649
accuracy on this weeks games
1.0
RMSE on this weeks games:
24.613004965302512
R^2 on the training data:
0.5150625294545929
accuracy on this weeks games
0.75
RMSE on this weeks games:
8.505712849566077
R^2 on the training data:
0.5156372527869408
accuracy on this weeks games
1.0
RMSE on this weeks games:
1.7962411738887298
R^2 on the training data:
0.5157071663968669
accuracy on this weeks games
1.0
RMSE on this weeks games:
7.803081408426958
R^2 on the training data:
0.5167550935818054
accuracy on this weeks games
1.0
RMSE on this weeks games:
8.309073429671683
R^2 on the training data:
0.5304132423715684
accuracy on this weeks games
0.6
RMSE on this weeks games:
24.042153054695603
R^2 on the training data:
0.5246621074993576
accuracy on this weeks games
0.7307692307692307
RMSE on this weeks games:
18.25971764359563
R^2 on the training data:
0.5378443780030425
accuracy on this weeks games
0.0
RMSE on this weeks games:
13.206173934468945
R^2 on the training data:
0.5371134919333823
accuracy on this weeks games
0.0
RMSE on this weeks games:
15.191012464878446
R^2 on the training data:
0.5364734204450357
accuracy on this weeks games
1.0
RMSE on this weeks games:
18.338226141448324
R^2 on the training data:
0.5389342986663989
accuracy on this weeks games
0.8636363636363636
RMSE on this weeks games:
12.818951994392036
R^2 on the training data:
0.5820352916285025
accuracy on this weeks games
1.0
RMSE on this weeks games:
15.244981928772141
R^2 on the training data:
0.5824033766958125
accuracy on this weeks games
1.0
RMSE on this weeks games:
13.77667150964589
R^2 on the training data:
0.5823483517673813
accuracy on this weeks games
0.803921568627451
RMSE on this weeks games:
18.59629635617715
R^2 on the training data:
0.5769906066225619
accuracy on this weeks games
1.0
RMSE on this weeks games:
13.422411881539432
R^2 on the training data:
0.5770568210567477
accuracy on this weeks games
0.5
RMSE on this weeks games:
5.929391294546176
R^2 on the training data:
0.5784275622176394
accuracy on this weeks games
0.71875
RMSE on this weeks games:
16.89790696697847
R^2 on the training data:
0.5817140056084604
accuracy on this weeks games
1.0
RMSE on this weeks games:
7.551931853478507
R^2 on the training data:
0.5847941001688965
accuracy on this weeks games
0.5
RMSE on this weeks games:
30.13017662262916
R^2 on the training data:
0.5814405907657032
accuracy on this weeks games
0.7272727272727273
RMSE on this weeks games:
16.16643803960497
R^2 on the training data:
0.5785687384718526
accuracy on this weeks games
0.0
RMSE on this weeks games:
9.117242021950373
R^2 on the training data:
0.5783545317420854
accuracy on this weeks games
0.5
RMSE on this weeks games:
9.152506925895368
R^2 on the training data:
0.5779542957145783
accuracy on this weeks games
1.0
RMSE on this weeks games:
17.367727037403345
R^2 on the training data:
0.5795152119388718
accuracy on this weeks games
0.6222222222222222
RMSE on this weeks games:
18.94397821703203
R^2 on the training data:
0.5607496426576297
accuracy on this weeks games
0.5
RMSE on this weeks games:
17.418457086030017
R^2 on the training data:
0.5594890121155983
accuracy on this weeks games
1.0
RMSE on this weeks games:
8.306525630224428
R^2 on the training data:
0.5601517189075902
accuracy on this weeks games
1.0
RMSE on this weeks games:
10.018362268457228
R^2 on the training data:
0.5597158213784643
accuracy on this weeks games
0.7395833333333334
RMSE on this weeks games:
15.100184360314369
R^2 on the training data:
0.5527593041949946
accuracy on this weeks games
1.0
RMSE on this weeks games:
9.323045050997234
R^2 on the training data:
0.5527777978600532
accuracy on this weeks games
0.3333333333333333
RMSE on this weeks games:
16.84319463897713
R^2 on the training data:
0.5530598683845033
accuracy on this weeks games
0.6458333333333334
RMSE on this weeks games:
18.80133613609797
R^2 on the training data:
0.5355985917279473
accuracy on this weeks games
0.6
RMSE on this weeks games:
20.615184159981638
R^2 on the training data:
0.5323680518284288
accuracy on this weeks games
1.0
RMSE on this weeks games:
14.510553946059346
R^2 on the training data:
0.5320287131891939
accuracy on this weeks games
0.7045454545454546
RMSE on this weeks games:
16.24539460030817
R^2 on the training data:
0.5288235987519092
accuracy on this weeks games
1.0
RMSE on this weeks games:
13.736993788150855
R^2 on the training data:
0.5300918396086227
accuracy on this weeks games
1.0
RMSE on this weeks games:
18.719649400892166
R^2 on the training data:
0.5305274434183876
accuracy on this weeks games
1.0
RMSE on this weeks games:
9.489140280389357
R^2 on the training data:
0.5309846721744367
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
19.085093992139143
R^2 on the training data:
0.5297411752560578
accuracy on this weeks games
0.7142857142857143
RMSE on this weeks games:
20.59158624741295
R^2 on the training data:
0.5282328311808812
accuracy on this weeks games
0.5
RMSE on this weeks games:
10.335390917797266
R^2 on the training data:
0.5281342920820662
accuracy on this weeks games
0.5
RMSE on this weeks games:
10.041904751549222
R^2 on the training data:
0.5278762349453683
accuracy on this weeks games
0.3333333333333333
RMSE on this weeks games:
18.21265216609991
R^2 on the training data:
0.526435237116095
accuracy on this weeks games
1.0
RMSE on this weeks games:
16.86031541504233
R^2 on the training data:
0.5275312147428428
accuracy on this weeks games
0.72
RMSE on this weeks games:
16.088882476518627
R^2 on the training data:
0.5317953775980817
accuracy on this weeks games
1.0
RMSE on this weeks games:
23.34046271217045
R^2 on the training data:
0.5309891097317551
accuracy on this weeks games
1.0
RMSE on this weeks games:
3.064698637644344
R^2 on the training data:
0.5313546228779708
accuracy on this weeks games
0.0
RMSE on this weeks games:
37.642639927981214
R^2 on the training data:
0.5276163356832183
accuracy on this weeks games
1.0
RMSE on this weeks games:
12.767855153968052
R^2 on the training data:
0.5280729883523365
accuracy on this weeks games
0.66
RMSE on this weeks games:
19.50322269950638
R^2 on the training data:
0.5195629812803393
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
6.298518982542627
R^2 on the training data:
0.5193990270037234
accuracy on this weeks games
1.0
RMSE on this weeks games:
12.68916066876927
R^2 on the training data:
0.5193307681403314
accuracy on this weeks games
0.5
RMSE on this weeks games:
18.683173644719684
R^2 on the training data:
0.5140920273710914
accuracy on this weeks games
0.6744186046511628
RMSE on this weeks games:
19.918479746787
R^2 on the training data:
0.5083820851547189
accuracy on this weeks games
1.0
RMSE on this weeks games:
17.346649200534877
R^2 on the training data:
0.508293941279989
accuracy on this weeks games
0.7142857142857143
RMSE on this weeks games:
15.273031741209051
R^2 on the training data:
0.5075979636757002
accuracy on this weeks games
0.0
RMSE on this weeks games:
19.79409440787224
R^2 on the training data:
0.5069220204041001
accuracy on this weeks games
0.4
RMSE on this weeks games:
17.41970061726894
R^2 on the training data:
0.5052497555420565
accuracy on this weeks games
1.0
RMSE on this weeks games:
35.17309984021742
R^2 on the training data:
0.5051096642100671
accuracy on this weeks games
1.0
RMSE on this weeks games:
19.93236432904839
R^2 on the training data:
0.5048055568789338
accuracy on this weeks games
1.0
RMSE on this weeks games:
12.6520570425702
R^2 on the training data:
0.5045280495133071
accuracy on this weeks games
0.0
RMSE on this weeks games:
24.176143163933784
R^2 on the training data:
0.5036265695749864
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
4.373863767772167
R^2 on the training data:
0.5035734198630681
accuracy on this weeks games
0.0
RMSE on this weeks games:
24.66801268556459
R^2 on the training data:
0.5028059140882684
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
17.87330828836649
R^2 on the training data:
0.5017517324817387
accuracy on this weeks games
0.25
RMSE on this weeks games:
17.08327792512929

R^2 on the training data:
0.5002321848714291
accuracy on this weeks games
0.5
RMSE on this weeks games:
11.264115814134025
R^2 on the training data:
0.49970451689568607
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
20.554023447159214
R^2 on the training data:
0.4985754163797476
accuracy on this weeks games
0.6
RMSE on this weeks games:
9.715368491423504
R^2 on the training data:
0.4986027869474986
accuracy on this weeks games
0.75
RMSE on this weeks games:
22.075201922372713
R^2 on the training data:
0.4970562804207376
accuracy on this weeks games
0.75
RMSE on this weeks games:
15.800712414848464
R^2 on the training data:
0.4963171451930058
accuracy on this weeks games
0.0
RMSE on this weeks games:
12.500629607526918
R^2 on the training data:
0.4954127357429451
accuracy on this weeks games
1.0
RMSE on this weeks games:
20.88099019935031
R^2 on the training data:
0.49618271695254973
accuracy on this weeks games
1.0
RMSE on this weeks games:
16.177071754089916
R^2 on the training data:
0.5094448986252964
accuracy on this weeks games
1.0
RMSE on this weeks games:
34.33222697047875
R^2 on the training data:
0.5233739244740474
accuracy on this weeks games
0.7692307692307693
RMSE on this weeks games:
25.0296754755608
R^2 on the training data:
0.5506697474437612
accuracy on this weeks games
0.7611940298507462
RMSE on this weeks games:
21.96803721637754
R^2 on the training data:
0.6229428216297067
accuracy on this weeks games
0.5714285714285714
RMSE on this weeks games:
33.06362602421569
R^2 on the training data:
0.6836149870357405
accuracy on this weeks games
0.5
RMSE on this weeks games:
4.6523337018222275
R^2 on the training data:
0.6835514110632319
accuracy on this weeks games
1.0
RMSE on this weeks games:
1.1257580456753058
R^2 on the training data:
0.6835484402949836
accuracy on this weeks games
0.5
RMSE on this weeks games:
29.516052879449422
R^2 on the training data:
0.6876808850980042
accuracy on this weeks games
0.8089887640449438
RMSE on this weeks games:
18.42592904517174
R^2 on the training data:
0.7075253535542531
accuracy on this weeks games
0.65
RMSE on this weeks games:
21.071683436167774
R^2 on the training data:
0.7038501862839011
accuracy on this weeks games
1.0
RMSE on this weeks games:
4.300995819577846
R^2 on the training data:
0.7040514139515239
accuracy on this weeks games
0.7910447761194029
RMSE on this weeks games:
21.732999545808383
R^2 on the training data:
0.7165566640046956
accuracy on this weeks games
0.75
RMSE on this weeks games:
17.49512678563552
R^2 on the training data:
0.7173466245208118
accuracy on this weeks games
1.0
RMSE on this weeks games:
29.878466528537196
R^2 on the training data:
0.7163642373990534
accuracy on this weeks games
0.6507936507936508
RMSE on this weeks games:
17.39902876544113
R^2 on the training data:
0.7151997881688709
accuracy on this weeks games
0.8
RMSE on this weeks games:
16.11767062650756
R^2 on the training data:
0.7131474792417636
accuracy on this weeks games
1.0
RMSE on this weeks games:
6.390301067107496
R^2 on the training data:
0.7131470281296263
accuracy on this weeks games
0.8771929824561403
RMSE on this weeks games:
15.118519859802975
R^2 on the training data:
0.7117658377356357
accuracy on this weeks games
0.7142857142857143
RMSE on this weeks games:
19.441844989375532
R^2 on the training data:
0.7084837206549199
accuracy on this weeks games
0.0
RMSE on this weeks games:
19.01969902072185
R^2 on the training data:
0.7078124327906266
accuracy on this weeks games
0.7391304347826086
RMSE on this weeks games:
15.37831740950085
R^2 on the training data:
0.7040845260276736
accuracy on this weeks games
0.7647058823529411
RMSE on this weeks games:
12.429378730939092
R^2 on the training data:
0.7023279225519883
accuracy on this weeks games
0.0
RMSE on this weeks games:
25.012116599460136
R^2 on the training data:
0.7010814029124399
accuracy on this weeks games
0.5
RMSE on this weeks games:
24.27724790064707
R^2 on the training data:
0.6985961596150756
accuracy on this weeks games
0.65625
RMSE on this weeks games:
16.413635258933674
R^2 on the training data:
0.6891723018153201
accuracy on this weeks games
0.6486486486486487
RMSE on this weeks games:
19.787771734055934
R^2 on the training data:
0.6828159095206756
accuracy on this weeks games
0.5
RMSE on this weeks games:
11.250990197016959
R^2 on the training data:
0.6823024796202499
accuracy on this weeks games
0.7014925373134329
RMSE on this weeks games:
18.632363725247902
R^2 on the training data:
0.6734354072918252
accuracy on this weeks games
0.7333333333333333
RMSE on this weeks games:
17.806926958950967
R^2 on the training data:
0.6699868925094072
accuracy on this weeks games
0.75
RMSE on this weeks games:
16.956316978346482
R^2 on the training data:
0.669084677588518
accuracy on this weeks games
0.5692307692307692
RMSE on this weeks games:
16.4846680280253
R^2 on the training data:
0.6606416999000619
accuracy on this weeks games
0.6153846153846154
RMSE on this weeks games:
19.139455261216035
R^2 on the training data:
0.6561654968858899
accuracy on this weeks games
1.0
RMSE on this weeks games:
19.834748616033
R^2 on the training data:
0.6554889263538278
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
18.14216150188711
R^2 on the training data:
0.6551066845407447
accuracy on this weeks games
0.5
RMSE on this weeks games:
6.859117524516914
R^2 on the training data:
0.654996129435738
accuracy on this weeks games
0.6341463414634146
RMSE on this weeks games:
16.037851835720847
R^2 on the training data:
0.6430769594071306
accuracy on this weeks games
0.875
RMSE on this weeks games:
13.42238980462234
R^2 on the training data:
0.6441565009508614
accuracy on this weeks games
1.0
RMSE on this weeks games:
5.658962998275439
R^2 on the training data:
0.644185522926948
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
20.362737648426773
R^2 on the training data:
0.6431972995734234
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
11.901466755382303
R^2 on the training data:
0.6444759661061095
accuracy on this weeks games
0.8823529411764706
RMSE on this weeks games:
13.557552039541546
R^2 on the training data:
0.6442282940985412
accuracy on this weeks games
0.6923076923076923
RMSE on this weeks games:
17.49765078230272
R^2 on the training data:
0.6411111126766399
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
7.853809866042548
R^2 on the training data:
0.6412249527773346
accuracy on this weeks games
0.8333333333333334
RMSE on this weeks games:
8.392067183394607
R^2 on the training data:
0.6415110969009252
accuracy on this weeks games
1.0
RMSE on this weeks games:
6.565627417073421
R^2 on the training data:
0.641590482029367
accuracy on this weeks games
0.75
RMSE on this weeks games:
19.390600666519553
R^2 on the training data:
0.644692775527564
accuracy on this weeks games
0.9166666666666666
RMSE on this weeks games:
11.874704114775101
R^2 on the training data:
0.6442832578891787
accuracy on this weeks games
1.0
RMSE on this weeks games:
6.6229466517414535
R^2 on the training data:
0.6444535230592227
accuracy on this weeks games
0.6666666666666666
RMSE on this weeks games:
17.37881279730807
R^2 on the training data:
0.6430353085789311
accuracy on this weeks games
0.7352941176470589
RMSE on this weeks games:
17.345823393794568
R^2 on the training data:
0.6398797217395917
accuracy on this weeks games
0.75
RMSE on this weeks games:
19.48373683373546
R^2 on the training data:
0.6389376515164336
accuracy on this weeks games
0.6842105263157895
RMSE on this weeks games:
16.29013969608305
R^2 on the training data:
0.6385941079536881
accuracy on this weeks games
1.0
RMSE on this weeks games:
13.840819860882593

In [71]:
# get the number of games it called correctly in 2016
total_accuracy = total_right_count/test_df.shape[0]
total_accuracy

0.7196200458565346

In [72]:
# get the Root Mean Squared Error
overall_RMSE = (total_squared_error/test_df.shape[0])**(0.5)
overall_RMSE

18.0061573555654